<table class="table">
    <thead>
      <tr>
        <th>GPA</th>
        <th>A%</th>
        <th>B%</th>
        <th>C%</th>
        <th>D%</th>
        <th>F%</th>
        <th>W%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= gpa %></td>
        <td><%= A %></td>
        <td><%= B %></td>
        <td><%= C %></td>
        <td><%= D %></td>
        <td><%= F %></td>
        <td><%= W %></td>
      </tr>
    </tbody>
  </table>
<button type="button" class="btn btn-info">Detail</button>

